html{
    height: 100%;
    padding:0px;
    margin:0px;
    min-height: 966px;
}

body{
    height: 100%;
    padding:0px;
    margin:0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8em;
}

/* 3 parties du jeu.*/
#conteneur-principal{
    background:url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#objet-parent0{
    display: none;
}

#game-over{
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.90);
    height: 100%;
    width: 100%;
    z-index: 999999;
    color:gold;
    display: none;
    opacity: 0;
}

#game-over h2{
    font-size:6em;
}

#game-over h3{
    font-size: 2.6em;
    color:#ef0007;
}

#back-to-game{
    align-self: center;
    justify-self: flex-end;
}

#zone-gauche{
    height: 750px;
    flex:1;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;

    max-width: 500px;


}

#zone-combat{
    
    border-top:none;
    border-bottom:none;
    height:100% ;
    flex:2;
    min-width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
}

#bonus {
    
    background-image: url(../images/bonus/bonus.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    right:10%;
    border : solid, red;
    
/*    background-size: cover;*/

}
    

#zone-droite{
    font-size:0.7em;
    height: 753px;
    align-self: flex-start;
    flex:1;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}
/* fin de :3 parties du jeu.*/

/* partie gauche */
#porte-monnaie{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background:#603106;
    box-shadow:inset -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    height: 120px;
    width: 65%;
}

#argent{
    flex:8;
    font-size:2.4em;
    color: gold;
    text-align: center;
}

#logo-porte-monnaie{
    flex:4;
    width: 50px;
    height: 50px;
    background: url('../images/icons/coin.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -20px;
}

#boutique{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background:#2e1a00;
    width: 65%;
    max-height:700px;
    height: 700px;
    padding-bottom: 10px;
     
 
}

#titre-boutique{
    border-radius: 4px 4px 0px 0px;
    width: 65%;
    height: 50px;
    top:-38px;
    margin:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#603106;
    color:white;
}
.objet-parent{
    position: relative;
    width: 90px;
    height: 90px;
}
.objet  {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    position: absolute;
    
}

.infos-objet{
    background:#603106;
    width: 100%;
    height: 100%;
    position: absolute;
    color:white;
    font-size:0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
    left: 90px;
    z-index: 10000;
    border:solid gold 2px;
    border-style: ridge;
    border-left: none;
    top: -2px;
}

.objet:hover{
    border:solid gold 2px;
    border-style: ridge;
    border-right: none;
}
.objet:active{
    height: 90px;
    width: 90;
}

.objet:hover .infos-objet .nom{
    color: yellow;
    font-size: 8px;
    width: 100%;
    
}

.infos-objet div{
    width:100%;
    display: flex;
    justify-content: center;
    
}

.objet:hover .infos-objet{
    display: flex;
    width: 200px;
    
}
.prix-objet{
    width: 100%;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
    background-image: url('../images/icons/coin.png');
    background-size: 13px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right 5px;
    background-color:#603106;
    position: absolute;
    bottom: 0px;
    color:white;
}


/* FIN DE :partie gauche */

/*zone de combat*/
#monster-window{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#monster-infos{
    margin-top:100px;
    width: 100%;
    position: relative;
}

#monster-name{
    text-align: center;
    margin:0px 0px 15px 0px;
}

#monster-health-bar{
    width: 100%;
    height:40px;
    background-color: white;
    border:solid #603106 1px;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
}

#monster-health-bar::-moz-progress-bar, #monster-health-bar::-webkit-progress-value , #monster-health-bar::-webkit-progress-bar{
    width: 100%;
    height:40px;
    background-color: red;
    
}

#conteneur-infos-monstre{
    display: flex;
}

#conteneur-monstre-difficulte{
    position: relative;
}

#difficulte-monstre{
    background: #753c07;
    border-radius: 0px 0px 0px 0px;
    color:white;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#difficulte-monstre-tooltip{
    display: none;
    width: 300px;
    text-align: center;
    background :rgba(0, 0, 0, 0.7); 
    position: absolute;
    font-size:0.7em;
    color: white;
}

#conteneur-monstre-difficulte:hover #difficulte-monstre-tooltip{
    display: block;
}

#health-value-monster{
    margin:0px;
    text-align: center;
    width: 100%;
    align-self: center;
    top:42px;
    position: absolute;
}

#monstre-stats{
    background:#603106;
    color:white;
    border-radius: 0px 0px 0px 0px;
    font-size: 0.6em;
    display: flex;
    justify-content: space-around;
    padding:10px 0px 10px 0px;
}

#monster{
    left:43%;
    height: 250px;
    width: 180px;
    position: absolute;
    bottom:8%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#degat-envoyer{
    min-width: 15%;
    height: 60%;
    position: absolute;
    bottom:0px;
    right: 10%;
    overflow: hidden;
}

#degat-envoyer div{
    font-weight: bold;
    margin:0px;
}

#received-dmg{
    top:-50px;
    left: -25px;
    position: absolute;
    width: 150px;
    height: 12px;
}

#received-dmg div{
    width: 100%;
    text-align: center;
    color : darkred;
    font-size: 1.4em;
}

#player-character-window{
    position: absolute;
    left: 0px;
    width: 100px;
    bottom:8%;
    height: 115px;
}
#hero{ 
    height: 115px;
    width: 100px;
    position: absolute;
    top : 0px;
    transition: top 1s, transform 1s;
    transform: 100%;

}


 #bras-hero{
     width: 100px;
     height: 40px;
     position: absolute;
     top:72px;
     background: url('../images/hero/brashero.png');
     background-size: 100px;
     background-repeat: no-repeat;
     background-position: center;
     z-index: 14000;
 }

#weapon{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(30deg);
    position: absolute;
    width: 120px;
    height: 100px;
    z-index: 10000;
    margin-top: -28px;
    margin-left: 12px;
}
/* FIN DE :zone de combat*/

/*partie droite */
    /*conteneur Inventaire et stats */
    #conteneur-inventaire-stats{
        width: 75%;
        display: flex;
        flex-direction: column;
        height: 380px;
    }
        /*Inventaire*/
        #conteneur-inventaire{
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: stretch ;
            margin-bottom: 40px;
        }

        #conteneur-inventaire h2{
            flex:1;
            border-radius:3px 3px 0px 0px;
            margin:0px;
            display: flex;
            justify-content: center;
            background:#603106;
            align-items: center;
            color:white;
            z-index: 10000;
            margin-bottom:-18px;
            padding-top: 10px;

        }

        #inventaire{
            background:#603106;
            height: 100px;
            flex: 2;
            display: flex;
            color:white;
            border-radius:10px;
            position: relative;
            z-index: 10;
            padding-top: 30px;
            padding-bottom: 25px;
            margin-bottom: -28px;

        }
        #inventaire-part-gauche{
            height: 100%;
            background:#2e1a00;
            flex:2;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
        }

        #inventaire-part-gauche strong, #inventaire-part-droite strong{
            font-size: 0.7em;
            display: block;
            color: darkgray;
            margin-top:2px;
            width: 100%;
            text-align: center;
        }

        #inventaire-part-gauche p, #inventaire-part-droite p{
            font-size: 0.7em;
            text-align: center;
            
        }

        #inventaire-part-milieu{
            height: 100%;
            background:#2e1a00;
            flex:2;
            margin:0px 5px 0px 5px;
            display : flex;
            justify-content: space-around;
            align-items: center;
        }

        #epee-equipe, #cape-equipe{
            width: 60px;
            height: 60px;
            border-radius:10px;
            margin:0px 3px 0px 3px;
            box-shadow:inset -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
            display: block;
        }

        #inventaire-part-droite{
            height: 100%;
            background:#2e1a00;
            flex:2;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }


        #niveau-items{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-bottom: 10px;
            justify-content: space-around;
        }

    #niveau-epee{
        width: 170px;
        height: 30px;
        border-radius:3px;
        background:#603106;
        align-items: center;
        color:white;

    }

    #niveau-cape{
        width: 170px;
        height: 30px;
        border-radius:3px;
        background:#603106;
        align-items: center;
        color:white;
    }

    #up-epee{
        font-size: 7px;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 3px;
        color: gold;
    }

    #up-cape{
        font-size: 7px;
        margin-top: 5px;
        margin-left: 5px;
        margin-bottom: 3px;
        color:gold;
    }

    #monstre-tue{
        font-size: 7px;
        margin-left: 5px;
        margin-top: 0px;
    }

    #coup-pris{
        font-size: 7px;
        margin-left: 5px;
        margin-top: 0px;
    }

   .bloc-marron{
        width: 60px;
        height: 20px;
        background:#2e1a00;
        border-radius: 3px 3px 3px 3px;
        box-shadow:inset -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
        margin-top: -28px;
        margin-left: 100px;
    }

    .bloc-lvl{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 8px;
    }

        /*FIN DE : inventaire */


#stats-titre{
    background: #753c07;
    color:white;
    margin:0px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
}

#stats{
    display: flex;
    background:#2e1a00;
    color: white;
    height: 150px;
    flex-wrap: wrap;
    border-radius: 0px 0px 3px 3px;
}

#up-stats{
    flex:3;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4px;
}

#infos-stats{
    box-shadow:inset -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
    background:#2e1a00;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex:2;
}

#stamina, #strength{
    width:100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

#stamina div, #strength div{
    text-align: center;
    font-size:1.4em;
    line-height: 25px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#vie-text, #degats-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 5px 0px 10px;
}

#stamina div p, #strength div p{
    margin:0px;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 15px;

}

#stamina div i{
    background: url('../images/icons/shieldIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width:30px;
    height: 30px;
    margin-left: 6px;
}

#strength div i{
    background: url('../images/icons/swordIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width:30px;
    height: 30px;
    margin-left: 6px;
}

.stats-add-icon{
    align-self: center;
    background: url('../images/icons/plusIcon.png');
    background-size:30px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 40px;
    height: 40px;
}

.stats-add-icon:active{
    background-size:20px;
}

#skill-point{
    background:#603106;
    text-align: center;
    width:100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius:0px 0px 3px 3px;
}

#skill-point p{
    margin:0px;
}
/*FIN de: conteneur Inventaire et stats */

#infos-hero{
    width: 75%;
    height: 145px;
    margin-top:20px;
    background:#2e1a00;
}

#conteneur-life-xp{
    position: relative;
    width:100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    color:white;
}

#conteneur-life-xp #health-number{
    position: absolute;
    top:31px;
    margin:0px;
    z-index:12;
    width: 80%;
    text-align: center;
    color:black;
    margin-right: 20px;
}

#conteneur-life-xp #experience-number{
    position: absolute;
    margin:0px;
    z-index:12;
    top:72px;
    width: 80%;
    text-align: center;
    color:black;
    margin-right: 20px;
}

#vie-icon{
    background: url('../images/icons/hearth.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left:6px;
    top:20px;
}

#exp-icon{
    width: 40px;
    height: 40px;
    position: absolute;
    left:16px;
    top:76px;
    color:rgb(0, 167, 223);
    font-style: normal;
    font-size: 1.4em;
}

    #barre-de-vie{
        border:solid black 1px;
        height: 30px;
        width: 80%;
        position: absolute;
        top:23px;
        z-index:10;
        margin-right: 20px;
    }


    #barre-xp{
        border:solid black 1px;
        height: 30px;
        width:80%;
        position: absolute;
        top:65px;
        z-index:10;
        margin-right: 20px;
    }

    /*Barre de vie + Xp*/
#barre-de-vie::-moz-progress-bar, #barre-de-vie::-webkit-progress-value , #barre-de-vie::-webkit-progress-bar{
    width: 100%;
    background-color: red;
}

#barre-xp::-moz-progress-bar, #barre-xp::-webkit-progress-value , #barre-xp::-webkit-progress-bar{
    width: 100%;
    background-color: rgb(0, 167, 223);
}

#niveau-hero{
    margin-top:10px;
    width: 100%;
    color:white;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
}
/*FIN DE : partie droite */
